<!DOCTYPE html>
<html ng-app="map-app" ng-controller="map-controller">
  <head>
    <meta charset='utf8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Microhoods</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/css/app.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css' />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  </head>
  <body>

    <div ui-view></div>

    <div class='buttons' >
      <div id='addTag' ng-click='addTag()'>Add Tag</div>
      <div id='addLabel'>Tag your area</div>
      <input type='text' ng-model='tag' id='tagInput' placeholder='enter a microhood tag here'/>
      <div id='saveTags' ng-click='saveTags()'>Save Tags</div>
      <div id='saveLabel'>Save areas and tags</div>
      <div id='title'>MICROHOODS</div>
      <div id='directions'>Draw areas to create your own microhoods. Add descriptive tags to each microhood to personalize your map. Save tags, and load community map to see what the most popular tags and overall sentiment is for each microhood. </div>
      <div id='personalMap' ng-click='personalSwitch()'>Personal Map</div>
      <div id='personalLabel'>Create your own microhoods</div>
      <div id='communityMap' ng-click='communitySwitch()'>Community Map</div>
      <div id='communityLabel'>See community microhoods</div>

    </div>


    <div id="map"></div>
    
    <img id='questionMark' src="question-mark.png">

    <div id='about'>
      <p>This project was created by Austen Talbot during a 36-hour hackathon at Hack Reactor. It is written in JS using Leaflet, Angular, Node, and Mongo.</p>
      <p>100% jQuery-free.</p>
      <p>For more information, go to www.austentalbot.com or github.com/austentalbot.</p>
    </div>

    <div id='colors'>
      <div id='good4' >+ sentiment</div>
      <div id='good3' ></div>
      <div id='good2' ></div>
      <div id='good1' ></div>
      <div id='neutral' >= sentiment</div>
      <div id='bad1' ></div>
      <div id='bad2' ></div>
      <div id='bad3' ></div>
      <div id='bad4' >- sentiment</div>
    </div>

    <script src='map-ng.js'></script>

  </body>
</html>