<div ng-model='microhoods.home' ng-controller='map-controller'>
    <div class='buttons' >
      <div id='addTag' ng-click='addHere()'>Add Tag</div>
      <div id='saveTags' ng-click='saveTags()'>Save Tags</div>
      <div id='title'>MICROHOODS</div>
      <div id='personalMap' ng-click='personalSwitch()'>Personal Map</div>
      <div id='communityMap' ng-click='communitySwitch()'>Community Map</div>
    </div>

    <div id='map'></div>
    <form ng-submit='addHere(50)'>
      <input type='text' ng-model='tag' id='tagInput' placeholder='enter a microhood tag here'/>
    </form>
</div>