<div ng-model='microhoods.home' ng-controller='map-controller'>
    <div class='buttons' >
      <!-- <div id='addTag' ng-click='addTag()'>Add Tag</div> -->
      <div id='addTag' ng-click='addHere()'>Add Tag</div>
      <div id='addLabel'>Tag your area</div>
      <input type='text' ng-model='tag' id='tagInput' placeholder='enter a microhood tag here'/>
      <div id='saveTags' ng-click='saveTags()'>Save Tags</div>
      <div id='saveLabel'>Save areas and tags</div>
      <div id='title'>MICROHOODS</div>
      <div id='directions'>Draw areas to create your own microhoods. Add descriptive tags to each microhood to personalize your map. Save tags, and load community map to see what the most popular tags and overall sentiment is for each microhood. </div>
      <div id='personalMap' ng-click='personalSwitch()'>Personal Map</div>
      <div id='personalLabel'>Create your own microhoods</div>
      <div id='communityMap' ng-click='communitySwitch()'>Community Map</div>
      <div id='communityLabel'>See community microhoods</div>
    </div>

    <div id='map'></div>
    
    <div id='about'>
      <p>This project was created by Austen Talbot during a 36-hour hackathon at Hack Reactor. It is written in JS using Leaflet, Angular, Node, and Mongo.</p>
      <p>100% jQuery-free.</p>
      <p>For more information, go to www.austentalbot.com or github.com/austentalbot.</p>
    </div>

    <div id='colors'>
      <div id='good4' >+</div>
      <div id='good3' ></div>
      <div id='good2' ></div>
      <div id='good1' ></div>
      <div id='neutral' >=</div>
      <div id='bad1' ></div>
      <div id='bad2' ></div>
      <div id='bad3' ></div>
      <div id='bad4' >-</div>
    </div>
</div>