<div ng-model='microhoods.home' ng-controller='map-controller'>
    <div class='buttons' >
      <!-- <div id='saveTags' ng-click='saveTags()'>Save Tags</div> -->
      <div id='title'>
        <div id='titleText' ng-click="about()">MICROHOODS</div>
      </div>
      <button id='personalMap' ng-click='personalSwitch()'>Personal</button>
      <button id='communityMap' ng-click='communitySwitch()'>Community</button>
    </div>

    <div id='map'></div>

    <form name='inputForm'>
      <input type='text' ng-model='tag' name='tagInput' ng-maxlength='20' maxlength='25' id='tagInput' placeholder='enter a tag to add or search'/>
      <div class='error' ng-show='inputForm.tagInput.$error.maxlength'>PLEASE SPLIT INTO MULTIPLE, SHORTER TAGS</div>
    </form>
    <button id='addTag' ng-click='addHere(50)' ng-touch='addHere(50)'>Add</button>
    <button id='searchTags' ng-click='searchTags()' ng-touch='searchTags()'>Find</button>
</div>
