<div ng-model="microhoods.login" ng-controller="login-controller" class="jumbotron">
  <div class="page-header"> MICROHOODS <small class="page-subheader">A travel guide for every city block.</small></div>
  <div>
    <div>Microhoods is a social map that shows you what you want to know about your city.</div><br>
    <div>See what others are saying about the neighborhoods around you.</div><br>
    <div>Let others know about places you've been.</div><br>
    <div>Sign in to start exploring the smart way.</div><br>
  <div>
  <div>
    <input type="image" src="../img/Red-signin-Long-base-44dp.png" class="google-submit-button" ng-click="authenticate()">
  </div>
  <div class="buttons">
    <div id="logout" ng-click="logout()">Log Out</div>
  </div>
</div>
