/*color scheme: https://kuler.adobe.com/Copy-of-Wildflower-simone-color-theme-3999099/edit/?copy=true&base=3&rule=Custom&selected=2&name=Copy%20of%20Copy%20of%20Wildflower%20simone&mode=rgb&rgbvalues=0.011764705882352941,0.3764705882352941,0.4196078431372549,0.41568627450980394,0.6588235294117647,0.6470588235294118,0.996078431372549,0.9490196078431372,0.8470588235294118,0.9490196078431372,0.5529411764705883,0.47843137254901963,0.8588235294117647,0.35294117647058826,0.3333333333333333&swatchOrder=0,1,2,3,4*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 14px;
  background: #FEF2D8;
  color: #03606B;
}
#map {
  top: 40px;
  height: 90%;
  width: 100%;
  left: 0px;
}
.buttons {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5%;
  background: #FEF2D8;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#communityMap, #personalMap, #logout {
  width: 25%;
  height: 5%;
  text-align: center;
  background: #6AA8A5;
  color: #FEF2D8;
  border: none;
}
#addTag:active, #searchTags:active {
  background: #03606B;
}
#addTag, #searchTags {
  width: 12%;
  height: 8%;
  text-align: center;
  background: #6AA8A5;
  color: #FEF2D8;
  position: absolute;
  bottom: 0%;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  border: solid 1px;
  border-color: #FEF2D8;
  outline: none;
}
#searchTags {
  right: 0%;
}
#addTag {
  right: 12%;
}
#tagInput {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  padding-left: 1%;
  border: none;
  position: absolute;
  bottom: 0%;
  left: 0%; 
  height: 8%;
  width: 76%;
  background: #FEF2D8;
  color: #6AA8A5;
  text-align: left;
  z-index: 1000;
  outline: none;
}
#saveTags {
  position: absolute;
  top: 0px;
  left: 15%; 
}
#title {
  position: absolute;
  padding-left: 2%;
  width: 50%;
  font-size: 1.5em;
  line-height: 1;
  text-align: left;
}
#personalMap {
  position: absolute;
  top: 0px;
  right: 25%;
  background: #DB5A55;
}
#communityMap {
  position: absolute;
  top: 0px;
  right: 0%;
  background: #F28D7A;
}
#logout {
  margin: auto;
}
.error {
  position: absolute;
  text-align: center;
  background-color: #F28D7A;
  color: #DB5A55;
  bottom: 8%;
  width: 100%;
  height: 3%;
  opacity: .9;
}

.leaflet-label {
  font-family: 'Lato';
  opacity: .8;
  font-weight: normal;
  padding: 1px;
  font-size: 10px;
  border-width: 1px;
  border-radius: 1px;
}

.google-submit-button {
  background:url(../img/Red-signin-Long-base-44dp.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 50px;
  border: none;
}

.google-submit-button:hover {
  background:url(../img/Red-signin-Long-hover-44dp.png);
}

.google-submit-button:active {
  background:url(../img/Red-signin-Long-press-44dp.png);
}
