/*color scheme: https://kuler.adobe.com/Copy-of-Wildflower-simone-color-theme-3999099/edit/?copy=true&base=3&rule=Custom&selected=2&name=Copy%20of%20Copy%20of%20Wildflower%20simone&mode=rgb&rgbvalues=0.011764705882352941,0.3764705882352941,0.4196078431372549,0.41568627450980394,0.6588235294117647,0.6470588235294118,0.996078431372549,0.9490196078431372,0.8470588235294118,0.9490196078431372,0.5529411764705883,0.47843137254901963,0.8588235294117647,0.35294117647058826,0.3333333333333333&swatchOrder=0,1,2,3,4*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 10px;
}
#map {
  /*position: absolute;*/
  top: 5%;
  height: 93%;
  width: 100%;
  left: 0px;
}
.buttons {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5%;
  background: #FEF2D8;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#addTag, #saveTags, #communityMap, #personalMap {
  width: 15%;
  height: 5%;
  text-align: center;
  background: #6AA8A5;
  color: #FEF2D8;
}
#addTag:active, #saveTags:active {
  background: #03606B;
}
#addTag {
  position: absolute;
  bottom: 0%;
  right: 0%;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
#tagInput {
  margin: 0;
  padding: 0;
  padding-left: 1%;
  border: none;
  position: absolute;
  bottom: 0%;
  left: 0%; 
  height: 5%;
  width: 84%;
  background: #FEF2D8;
  color: #6AA8A5;
  text-align: left;
  font-size: 100%;
  font-weight: 100;
  z-index: 1000;
  outline: none;
}
#saveTags {
  position: absolute;
  top: 0px;
  left: 15%; 
}
#title {
  position: absolute;
  left: 40%;
  width: 20%;
  color: #03606B;
  text-align: center;
}
#personalMap {
  position: absolute;
  width: 15%;
  top: 0px;
  right: 15%;
  background: #DB5A55;
}
#communityMap {
  position: absolute;
  width: 15%;
  top: 0px;
  right: 0%;
  background: #F28D7A;
}