/*color scheme: https://kuler.adobe.com/Copy-of-Wildflower-simone-color-theme-3999099/edit/?copy=true&base=3&rule=Custom&selected=2&name=Copy%20of%20Copy%20of%20Wildflower%20simone&mode=rgb&rgbvalues=0.011764705882352941,0.3764705882352941,0.4196078431372549,0.41568627450980394,0.6588235294117647,0.6470588235294118,0.996078431372549,0.9490196078431372,0.8470588235294118,0.9490196078431372,0.5529411764705883,0.47843137254901963,0.8588235294117647,0.35294117647058826,0.3333333333333333&swatchOrder=0,1,2,3,4*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 10px;
}
#map {
  /*position: absolute;*/
  top: 5%;
  height: 93%;
  width: 100%;
  left: 0px;
}
.buttons {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5%;
  background: #FEF2D8;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#addTag, #saveTags, #tagInput, #communityMap, #personalMap {
  width: 15%;
  height: 100%;
  text-align: center;
  background: #6AA8A5;
  color: #FEF2D8;
}
#addTag:active, #saveTags:active {
  background: #03606B;
}
#addTag {
  position: absolute;
  top: 0px;
  left: 0px;
}
#tagInput {
  position: absolute;
  left: 15%; 
  height: 100%;
  width: 20%;
  line-height: 35px;
  background: #FEF2D8;
  color: #6AA8A5;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
}
#saveTags {
  position: absolute;
  top: 0px;
  left: 35%; 
}
#title {
  position: absolute;
  left: 50%;
  width: 20%;
  color: #03606B;
  text-align: center;
}
#personalMap {
  position: absolute;
  width: 15%;
  top: 0px;
  right: 15%;
  background: #DB5A55;
}
#communityMap {
  position: absolute;
  width: 15%;
  top: 0px;
  right: 0%;
  background: #F28D7A;
}
#colors {
  position: absolute;
  bottom: 0px;
  height: 2%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
#good4, #good3, #good2, #good1, #neutral, #bad1, #bad2, #bad3, #bad4 {
  position: absolute;
  height: 100%;
  color: #FEF2D8;
}
#good4 {
  left: 0%;
  width: 11.1111%;
  background: #1E5C59;

}
#good3 {
  left: 11.1111%;
  width: 11.1111%;
  background: #377572;
}
#good2 {
  left: 22.2222%;
  width: 11.1111%;
  background: #518F8C;
}
#good1 {
  left: 33.3333%;
  width: 11.1111%;
  background: #6AA8A5;
}
#neutral {
  left: 44.4444%;
  width: 11.1111%;
  background: #7f8c8d;
  text-align: center;
}
#bad1 {
  left: 55.5555%;
  width: 11.1111%;
  background: #F28D7A;
}
#bad2 {
  left: 66.6666%;
  width: 11.1111%;
  background: #D97461;
}
#bad3 {
  left: 77.7777%;
  width: 11.1111%;
  background: #BF5A47;
}
#bad4 {
  left: 88.8888%;
  width: 11.1112%;
  background: #A6412E;
  text-align: right;
}
#questionMark {
  position: absolute;
  top: 50px;
  right: 0px;
}
#about {
  padding: 10px;
  position: absolute;
  top: 70px;
  right: 20px;
  height:230px;
  width: 220px;
  background: #FEF2D8;
  color: #6AA8A5;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}
#questionMark:hover + #about, #about:hover {
  visibility: visible;
  opacity: .8;
  transition:opacity 0.4s linear;
}
p {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  text-align: justify;
}
#addLabel, #saveLabel, #personalLabel, #communityLabel, #directions {
  font-size: 12px;
  position:absolute;
  top: 50px;
  height: 15px;
  width: 100px;
  background: #FEF2D8;
  color: #6AA8A5;
  opacity: 0;
  text-align: center;
  z-index: 10;
  visibility: hidden;
}
#addLabel {
  left: 0px;
}
#saveLabel {
  left: 355px;
}
#personalLabel {
  right: 150px;
  width: 150px;
}
#communityLabel {
  right: 0px;
  width: 150px;
}
#addTag:hover + #addLabel {
  visibility: visible;
  opacity: .8;
  transition:opacity 0.4s linear;
}
#saveTags:hover + #saveLabel {
  visibility: visible;
  opacity: .8;
  transition:opacity 0.4s linear;
}
#personalMap:hover + #personalLabel {
  visibility: visible;
  opacity: .8;
  transition:opacity 0.4s linear;
}
#communityMap:hover + #communityLabel {
  visibility: visible;
  opacity: .8;
  transition:opacity 0.4s linear;
}
#directions { 
  font-size: 20px;
  min-height: 20px;
  height: 110%;
  width: 100%;
  left: 0;
}
#title:hover + #directions {
  visibility: visible;
  opacity: .8;
  transition:opacity 0.4s linear; 
}



