@import url("../lib/bootstrap-css-only/css/bootstrap.min.css");

.jumbotron {
  height: 100vh;
  background-color: #FEF2D8
}

.page-header {
  font-size: 18pt;
  display: block;
}

.page-subheader {
  font-size: 16pt;
  display: block;
}

.google-submit-button {
  background:url(../img/Red-signin-Long-base-44dp.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 50px;
  border: none;
}

.google-submit-button:hover {
  background:url(../img/Red-signin-Long-hover-44dp.png);
};

.google-submit-button:active {
  background:url(../img/Red-signin-Long-press-44dp.png);
};